In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pickle

In [32]:
with open('backup/metal1.pickle','rb') as rf:
    metal = pickle.load(rf)

with open('cv_dataframe.pickle','rb') as rf:
    cv_df = pickle.load(rf)

In [34]:
metal = pd.DataFrame(metal)

In [38]:
metal = pd.concat([metal,cv_df],axis=1)

In [39]:
metal.head()

,artist_name,release_date,page_views,song_title,album_name,spotify_url,lyrics,across,act,afraid,...,wounds,write,wrong,x2,year,years,yes,yesterday,yet,young
0,Dance Gavin Dance,2016-08-18,104492,Chucky vs. The Giant Tortoise,Mothership,nan,[Verse 1: Jon Mess & Tilian; both]\nGimme that...,0,0,0,...,0,0,0,0,0,0,0,0,2,0
1,Dance Gavin Dance,2015-04-14,89106,Death of a Strawberry,Instant Gratification,nan,[Verse 1: Tilian]\nSick of being in my head an...,0,4,0,...,0,0,0,0,0,0,0,0,1,2
2,Dance Gavin Dance,2015-03-12,76326,We Own the Night,Instant Gratification,nan,[Intro: Tilian]\nForget my jealousy\nYou swall...,0,0,0,...,0,0,2,0,0,0,0,0,0,0
3,Dance Gavin Dance,2018-04-04,70346,Midnight Crusade,Artificial Selection,nan,[Intro: Tilian]\nUsed to be so judgmental\nNow...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Dance Gavin Dance,2018-05-04,70134,Son of Robot,Artificial Selection,nan,"[Verse 1: Jon Mess & Tilian]\nHow, how could w...",0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
metal.dropna(subset=['release_date'],inplace=True)

In [41]:
metal['year'] = metal.release_date.str[:4]

In [42]:
metal = metal[metal.year!='0001']
metal = metal[metal.year!='0216']

In [43]:
metal['decade'] = metal.year.str[:3] + "0's"

In [44]:
metal.decade.value_counts()

2010's    8305
2000's    4853
1990's    2355
1980's     880
2020's     733
1970's     410
1960's      18
Name: decade, dtype: int64

In [48]:
metal.groupby('decade').sum()

,page_views,across,act,afraid,age,ago,ahead,air,alive,almost,...,worth,wounds,write,wrong,x2,years,yes,yesterday,yet,young
decade,,,,,,,,,,,,,,,,,,,,,
1960's,22815,1,0,0,0,0,0,0,0,0,...,0,0,1,2,0,0,7,1,0,0
1970's,4057990,20,3,7,9,18,3,21,14,8,...,9,2,9,51,12,31,78,5,15,23
1980's,12190601,46,16,39,13,23,12,91,115,9,...,19,14,11,66,37,64,94,28,37,145
1990's,41501551,86,61,160,42,31,67,148,253,62,...,55,22,38,310,126,193,390,60,117,151
2000's,49544397,194,140,419,87,99,177,292,952,179,...,287,122,118,1046,225,350,258,178,315,216
2010's,147710201,292,246,925,203,143,318,528,2012,215,...,610,189,199,1341,357,609,373,220,479,855
2020's,5506073,39,19,53,13,19,9,51,174,24,...,78,27,10,121,2,62,74,14,50,53